{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Welcome to Sierra Leone COVID-19 Case Tracking and Reporting Platform</title>
  
  <!-- semantic UI -->
  <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
  
  <!--Chart js-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/gsdk-bootstrap-wizard.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/bootstrap.min.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/demo.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  
</head>
<body>
  <nav class=" green darken-3" role="navigation">
    <div class="nav-wrapper container">
      <a href="/" class ="logo">
       <img class="responsive-img" src="{% static 'logo.png' %}"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/caseupdate">Case Updates</a></li>
        <li><a href="/reportcase">Report Cases</a></li>
        <li><a href="/newsletter">News Updates</a></li>
        <li><a href="/requesttest">Request Test</a></li>
        <li><a href="/healthtips">Health Tips</a></li>
        <li><a href="/blog">Blog Posts</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/">Home</a></li>
        <li><a href="/caseupdate">Case Updates</a></li>
        <li><a href="/reportcase">Report Cases</a></li>
        <li><a href="/requesttest">Request Test</a></li>
        <li><a href="#">Health Tips</a></li>
        <li><a href="/blog">Blog Posts</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  {% block content %}
  
  {% endblock %}

  <footer class="page-footer  blue darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About</h5>
          <p class="grey-text text-lighten-4">An online web portal and mobile application for tracking, reporting and getting real time updates on coronavirus (COVID-19) in Sierra Leone</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Related Links</h5>
          <ul>
            <li><a class="white-text" href="#!">WHO</a></li>
            <li><a class="white-text" href="#!">CDC</a></li>
            <li><a class="white-text" href="#!">BBC</a></li>
            <li><a class="white-text" href="#!">CNN</a></li>
           
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Twitter</a></li>
            <li><a class="white-text" href="#!">LinkedIn</a></li>
            <li><a class="white-text" href="#!">Youtube</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Developed By: <a class="orange-text text-lighten-3" href="http://mosesvb.com">Moses T.F. Vibbie (Moses VB) |</a>
      managed By: <a class="orange-text text-lighten-3" href="http://mosesvb.com">... |</a>
      Sponsors: <a class="orange-text text-lighten-3" href="http://mosesvb.com">...</a>
      </div>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
  <!--  Scripts-->

  <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
  <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
  <script src="{% static 'js/jquery.validate.min.js' %}"></script>
  <script src="{% static 'js/jquery.bootstrap.wizard.js' %}"></script>
  <script src="{% static 'js/gsdk-bootstrap-wizard.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

  
  </body>
</html>
