{% block compare %}
<style>
</style>
<br><br><br>
<div class="container">
  <div class="row">
    <div class="chart-container col" style=" height:250px; width:250px">
        <canvas id="compare"></canvas>
    </div>  
  </div>
</div>
    
  <script>
  var endpoint='/api/data'
  
    $.ajax({
      method:"GET",
      url:endpoint,
      success:function(data){
        var ctx = document.getElementById('compare').getContext('2d');
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data:{
              labels:data.dates,
              datasets:[
              
                {
                  label:"active",
                  fill:false,
                  lineTension:0.1,
                  backgroundColor:'#41BDE4',
                  borderColor:"#41BDE4",
                  data:data.active
                },
                {
                  label:"confirmed",
                  fill:false,
                  lineTension:0.1,
                  backgroundColor:'orange',
                  borderColor:"orange",
                  data:data.confirmed
                },
                {
                  label:"recovered",
                  fill:false,
                  lineTension:0.1,
                  backgroundColor:'green',
                  borderColor:"green",
                  data:data.recovered
                },{
                  label:"quarantined",
                  fill:false,
                  lineTension:0.1,
                  backgroundColor:'#E6A3E0',
                  borderColor:"#E6A3E0",
                  data:data.quarantined
                },
                {
                  label:"deaths",
                  fill:false,
                  lineTension:0.1,
                  backgroundColor:'red',
                  borderColor:"red",
                  data:data.deaths,
                  
                }

              ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                        beginAtZero:true
                    },
                    gridLines: {
                        drawBorder: false,
                        // color: "rgba(0, 0, 0, 0)",
                        display: false,
                    },
                    display:false
                    
                }]
                },
            }
            
        });
      },
      error:function(error_data){
        console.log("error")
        console.log(error_data)
      }
    })
  </script>
  
{% endblock compare%}